*{
    background-color: #1f263d;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    /* color: #0A3871; */
}

.logo-a{
    background-color: #ffffff;
    border-radius: 20px;
    padding: 10px;
    margin-left: 10px;
    width: 6%;
}

main{
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

.textarea1{
    border-radius: 24px;
    color: #ffffff;
    margin-top: 50px;
    text-transform: lowercase;
    padding: 10px;
}

.textarea1:focus{
    outline: none;
}

::placeholder{
    color: #ffffff;
}

.section2{
    text-align: center;
    margin: 6vw;
}

.textarea2{
    background-image: url(img/Muñeco.png);
    background-repeat: no-repeat;
    padding: 10px;
    border-radius: 24px;
    color: #ffffff;
    height: 277px;
    width: 275px;
}

.textarea2:focus{
    outline: none;
}

.botones{
    display: flex;
    margin-top: 18px;
}


.btn-desencriptar{
    background-color: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
}

.btn-encriptar{
    background-color: #0A3871;
    border: 1px solid #ffffff;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 328px;
}

.btn-copiar{
    border: 1px solid #ffffff;
    border-radius: 20px;
    color: #ffffff;
    cursor: pointer;
    margin-top: 20%;
    height: 50px;
    width: 100%;
    display: none;
}

.info{
    color: #a7a7a7;
    font-size: 15px;
}

.noMensaje{
    color: #ffffff;
}

footer{
    padding: 5px;
    text-align: center;
    color: #0A3871;
    background-color:rgb(255, 255, 255);
    position: relative;
}

footer a{
    background-color:rgb(255, 255, 255)
}

footer small{
    background-color:rgb(255, 255, 255)
}


/* dispositivos medianos */

@media (min-width: 768px) and (max-width: 1024px) {

    main {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
    }

    .textarea1{
        text-align: center;
        width: 100%;
    }

    .textarea2{
        text-align: center;
        display: none;
        background-image: none;
        height: 229px;
        width: 516px;
        margin: 0;
    }

    .container{
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .noMensaje{
        display: inline;
        text-align: center;
    }

    .btn-copiar{
        margin-top: 0;
        margin-left: 0;
        display: none;
    }
}

@media (max-width: 767px) {
 
    main{
        margin: 0;
        display: block;
    }

    section{
        margin: 0;
    }

    .section2{
        margin: 0;
    }

    .textarea1{
        max-width: 337px; 
        height: 299px;
        margin-top: 1rem ;
    }

    h6{
        margin-top: 0;
    }

    .textarea2{
        margin: 1rem 0;
        background-image: none;
        display: none;
    }

    .botones{
        display: block;
    }

    .botones > button{
        width: 100%;
        margin: 10px 0px;
    }

    .btn-copiar {
        width: 100%;
        display: none;
        margin-bottom: 2rem;
        margin-top: 10px;
    }
}